@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

@import "~font-awesome/css/font-awesome.css";
@import "~toastr/build/toastr.css";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #aaa;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #aaa;
}

#toast-container > div {
  -webkit-box-shadow: 0 0 12px #000000 !important;
  box-shadow: 0 0 12px #000000 !important;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
}
