@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
