.Row {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
}

.ColumnRight, .ColumnLeft {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.ColumnRight {
  flex: 1 1 66%;
}

.ColumnLeft {
  flex: 1 1 33%;
}

.Title {
  font-size: 24px;
  font-weight: 100;
}

.Input,
.TextArea {
  background-color: rgba(200, 200, 200, 0.4);
  border: none;
  border-radius: 4px;
  color: black;
  display: block;
  font-size: 16px;
  flex-basis: 66%;
  outline: none;
  padding: 10px 0;
  padding-left: 10px;
  width: 100%;

  &:focus {
    background-color: rgba(200, 200, 200, 0.5);
    border-color: #64B5F6;
  }
}

.TextArea {
  min-height: 150px;
}

.Tag {
  color: #333;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
  margin-right: 12px;
  opacity: 0.7;
  text-transform: uppercase;
}

.PrimaryButton,
.SecondaryButton {
  background-color: #2091f3;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  min-width: 162px;
  padding: 12px;
  text-transform: capitalize;
  transition: all 0.2s ease;

  &:hover {
    background-color: #2098f3;
    color: #fff;
  }
}

.SecondaryButton {
  background-color: transparent;
  border: 1px solid #2091f3;
  color: #2091f3;
  margin-left: auto;
  width: 150px;
}

.Footer {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}
