<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>{{title}}</title>
</head>
<body>
  <h2>{{subject}}</h2>
  <p>You can download Alpha Stage at: <a href="http://www.alphastage.gg/">www.alphastage.gg</a></p>
  <p>Have an awesome time playing this game and thank you for helping devs get their game to the next level!</p>
</html>
