@import '../../globals.scss';

.Header {
  background-color: rgb(43, 44, 49);
  background: radial-gradient(circle, rgb(54, 57, 62), rgb(47, 49, 54), rgb(43, 44, 49));
  border-bottom-left-radius: 60% 1%;
  border-bottom-right-radius: 60% 1%;
  color: white;
  height: 760px;
  position: relative;
  width: 100%;
}

.TopBar {
  align-items: center;
  display: flex;
}

.BrandContainer {
  min-width: 185px;
}

.Brand {
  align-items: center;
  display: flex;
  padding: 12px 24px;

  img {
    height: 25px;
    margin-right: 6px;
    width: 25px;
  }

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
}

.GameSub {
  margin-left: 68px;
  margin-top: -12px;
  font-size: 16px;
  font-family: 'Monoton', cursive;
}

.Nav {
  align-items: center;
  display: flex;
  width: 100%;

  .Left {
    display: flex;
    flex-basis: 50%;

    a {
      color: #ccc;

      &:hover {
        color: #fff;
      }
    }
  }

  .Right {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    padding: 0 24px;

    a {
      color: #ccc;

      &:hover {
        color: #fff;
      }
    }

    @include media($mobile) {
      min-width: 107px;
    }
  }
}

.Join {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ccc;
  border-radius: 24px;
  font-size: 14px;
  padding: 0.5em 1em;

  &:hover {
    background-color: #2091f3;
    border-color: #2091f3;
  }

  @include media($mobile) {
    font-size: 10px;
  }
}

.AuthOptions {
  align-items: center;
  display: flex;
  padding: 0 24px;
}

.Logout {
  color: #ccc;
  font-size: 16px;

  &:hover {
    color: #fff;
  }
}

.VerticalDivider {
  background-color: #fff;
  height: 50%;
  margin: 0 12px;
  width: 1px;
}

.Content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.TopText {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 12px;
}

.Description {
  opacity: 0.6;
}

.NotifyContainer {
  margin-top: 42px;

  input,
  button {
    border: none;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding: 0.5em 1em;
    outline: none;
  }

  input {
    background-color: rgba(255, 255,255, 0.2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0.5em 1em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 400px;
  }

  button {
    background: linear-gradient(#20c2f3, #2091f3);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(#20c9f3, #2098f3);
    }
  }
}

.Screenshot {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%);
  width: 750px;
  z-index: 1;
}

.AppContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 42px;

  p {
    border: 1px solid #fff;
    color: #ddd;
    padding: 0.5em 1em;
    border-radius: 4px;

    @include media($mobile) {
      font-size: 12px;
    }
  }
}

.DownloadButton,
.SecondaryButton {
  background: linear-gradient(#20c2f3, #2091f3);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 24px;
  padding: 0.5em 1em;
  outline: none;

  &:hover {
    background: linear-gradient(#20c9f3, #2098f3);
  }

  @include media($mobile) {
    font-size: 12px;
  }
}

.SecondaryButton {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(75, 75, 75, 0.1));
  border: 1px solid #ccc;

  &:hover {
    background: linear-gradient(#fff, #ddd);
    color: rgb(54, 57, 62);
  }
}

.Available {
  margin-top: 42px;

  p {
    color: #aaa;
    font-size: 12px;
  }

  span {
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }
}

.Platform {
  margin-right: 24px;
}

.Controller,
.Mouse,
.Jewel,
.Medal {
  position: absolute;
  width: 55px;
}

.Medal {
  bottom: 310px;
  left: calc(50% - 300px);
  transform: rotate(10deg);
  z-index: 2;
}

.Mouse {
  bottom: 200px;
  left: calc(50% - 430px);
}

.Jewel {
  width: 50px;
  bottom: 360px;
  right: calc(50% - 235px);
}

.Controller {
  bottom: 75px;
  right: calc(50% - 415px);
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-12px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.Times,
.Square,
.Circle {
  color: #444;
  font-size: 2.5rem !important;
  position: absolute;
}

.Triangle {
  position: absolute;
  width: 32px;

  &.a {
    bottom: 440px;
    left: calc(50% - 375px);
  }

  &.b {
    bottom: 20px;
    left: calc(50% - 300px);
  }

  &.c {
    bottom: 290px;
    right: calc(50% - 470px);
  }
}

.Square {
  &.a {
    bottom: 285px;
    left: calc(50% - 390px);
  }

  &.b {
    bottom: 410px;
    right: calc(50% - 365px);
  }

  &.c {
    bottom: 90px;
    right: calc(50% - 550px);
  }
}

.Circle {
  &.a {
    bottom: 400px;
    left: calc(50% - 175px);
  }

  &.b {
    bottom: 100px;
    left: calc(50% - 525px);
  }

  &.c {
    bottom: 170px;
    right: calc(50% - 340px);
  }
}

.Times {
  &.a {
    bottom: 350px;
    left: calc(50% - 555px);
  }

  &.b {
    bottom: 355px;
    right: calc(50% - 120px);
  }

  &.c {
    bottom: 370px;
    right: calc(50% - 570px);
  }
}

.SmallIcon {
  color: #444;
  font-size: 1.25rem !important;
  position: absolute;

  &.key {
    bottom: 435px;
    right: calc(50% - 200px);
  }

  &.crosshairs {
    bottom: 165px;
    left: calc(50% - 380px);
  }

  &.bomb {
    bottom: 255px;
    right: calc(50% - 380px);
  }

  &.flask {
    bottom: 225px;
    left: calc(50% - 610px);
  }

  &.trophy {
    bottom: 190px;
    right: calc(50% - 585px);
  }

  &.power {
    bottom: 60px;
    right: calc(50% - 360px);
  }

  &.puzzle {
    bottom: 50px;
    left: calc(50% - 475px);
  }
}

@media only screen and (max-width: 820px) {
  .TopText {
    font-size: 30px;
    line-height: 1;
  }
  .Description {
      font-size: 12px;
  }
}

@media only screen and (max-width: 705px) {
  .Screenshot {
    top: 52%;
    width: 650px;
  }

  .Content {
    top: 38%;
  }

  .Jewel {
    bottom: 305px;
  }

  .Medal {
    bottom: 265px;
    left: calc(50% - 265px);
  }

  .Circle{
    &.a {
      bottom: 340px;
      left: calc(50% - 165px);
    }

    &.c {
      bottom: 165px;
      right: calc(50% - 315px);
    }
  }

  .Times.b {
    bottom: 310px;
    right: calc(50% - 120px);
  }

  .Square.b {
    bottom: 370px;
    right: calc(50% - 315px);
  }

  .Triangle {
    &.a {
      bottom: 375px;
      left: calc(50% - 310px);
    }

    &.b {
      left: calc(50% - 265px);
    }
  }

  .SmallIcon {
    &.key {
      bottom: 370px;
      right: calc(50% - 200px);
    }

    &.power {
      bottom: 30px;
      right: calc(50% - 270px);
    }

    &.bomb {
      bottom: 220px;
      left: calc(50% - 315px);
    }
  }

  .Mouse {
    bottom: 130px;
    left: calc(50% - 310px);
  }

  .Controller {
    bottom: 65px;
    right: calc(50% - 310px);
  }
}

@media only screen and (max-width: 615px) {
  .Header {
    height: 640px;
  }

  .Screenshot {
    top: 52%;
    width: 550px;
  }

  .Content {
    top: 35%;
  }

  .TopText {
    font-size: 26px;
  }

  .NotifyContainer {
    input {
      width: 250px;
    }
  }

  .Controller,
  .Mouse,
  .Jewel,
  .Medal {
    width: 45px;
  }

  .Times,
  .Circle,
  .Square {
    font-size: 2rem !important;
  }

  .Mouse {
    bottom: 100px;
    left: calc(50% - 270px);
  }

  .Controller {
    bottom: 50px;
    right: calc(50% - 260px);
  }

  .Jewel {
    bottom: 260px;
    right: calc(50% - 185px);
  }

  .Medal {
    bottom: 220px;
    left: calc(50% - 224px)
  }
}

@media only screen and (max-width: 515px) {
  .TopText {
    font-size: 22px;
  }

  .Description {
    font-size: 11px;
  }

  .Header {
    height: 580px;
  }

  .Screenshot {
    top: 56%;
    width: 450px;
  }

  .Controller,
  .Mouse,
  .Jewel,
  .Medal {
    width: 40px;
  }

  .Mouse {
    bottom: 80px;
    left: calc(50% - 225px);
  }

  .Controller {
    bottom: 40px;
    right: calc(50% - 215px);
  }

  .Jewel {
    bottom: 215px;
    right: calc(50% - 155px);
  }

  .Medal {
    bottom: 185px;
    left: calc(50% - 185px)
  }

  .Circle {
    &.a {
      bottom: 245px;
      left: calc(50% - 135px);
    }
  }

  .Times {
    &.b {
      bottom: 300px;
      right: calc(50% - 210px);
    }
  }

  .Square {
    &.b {
      bottom: 130px;
      right: calc(50% - 225px);
    }
  }

  .Triangle {
    &.b {
      left: calc(50% - 190px);
    }
  }

  .SmallIcon {
    &.key {
      bottom: 270px;
      right: calc(50% - 115px);
    }

    &.power {
      bottom: 18px;
      right: calc(50% - 200px);
    }

    &.bomb {
      bottom: 280px;
      left: calc(50% - 210px);
    }
  }
}

@media only screen and (max-width: 420px) {
  .Screenshot {
    top: 61%;
    width: 400px;
  }

  .Content {
    top: 38%;
  }

  .TopText {
    font-size: 18px;
  }

  .Description {
    font-size: 9px;
  }

  .NotifyContainer {
    input {
      font-size: 12px;
      width: 200px;
    }

    button {
      font-size: 12px;
    }
  }

  .Controller,
  .Mouse,
  .Jewel,
  .Medal {
    width: 35px;
  }

  .Times,
  .Circle,
  .Square {
    font-size: 1.5rem !important;
  }

  .Triangle {
    width: 24px;
  }

  .Mouse {
    bottom: 80px;
    left: calc(50% - 190px);
  }

  .Controller {
    bottom: 50px;
    right: calc(50% - 185px);
  }

  .Jewel {
    bottom: 190px;
    right: calc(50% - 140px);
  }

  .Medal {
    bottom: 165px;
    left: calc(50% - 164px);
  }

  .Triangle {
    &.b {
      left: calc(50% - 165px);
    }
  }

  .Times {
    &.b {
      right: calc(50% - 180px);
    }
  }

  .Square {
    &.b {
      right: calc(50% - 190px);
    }
  }

  .SmallIcon {
    font-size: 1rem;

    &.bomb {
      bottom: 205px;
      left: calc(50% - 15px);
    }
  }
}

@media only screen and (max-width: 420px) {
  .Screenshot {
    top: 68%;
    width: 325px;
  }

  .TopText,
  .Description {
    padding: 0 12px;
  }

  .NotifyContainer {
    input {
      width: 150px;
    }
  }

  .Controller,
  .Mouse,
  .Jewel,
  .Medal {
    width: 25px;
  }

  .Times,
  .Circle,
  .Square {
    font-size: 1rem !important;
  }

  .Triangle {
    width: 16px;
  }

  .Controller {
    bottom: 45px;
    right: calc(50% - 147px);
  }

  .Jewel {
    bottom: 160px;
    right: calc(50% - 105px);
  }

  .Medal {
    bottom: 138px;
    left: calc(50% - 131px);
  }

  .Square {
    &.b {
      bottom: 210px;
      right: calc(50% - 140px);
    }
  }

  .Triangle {
    &.a {
      bottom: 285px;
      left: calc(50% - 90px);
    }

    &.b {
      left: calc(50% - 133px);
    }
  }

  .Times {
    &.b {
      bottom: 200px;
      left: calc(50% - 75px);
    }
  }

  .SmallIcon {
    font-size: 1rem !important;

    &.bomb {
      bottom: 180px;
    }
  }
}
