.Header {
  background-color: rgb(43, 44, 49);
  background: radial-gradient(circle, rgb(54, 57, 62), rgb(47, 49, 54), rgb(43, 44, 49));
  border-bottom-left-radius: 60% 1%;
  border-bottom-right-radius: 60% 1%;
  color: white;
  height: 760px;
  position: relative;
  width: 100%;
}

.TopBar {
  align-items: center;
  display: flex;
}

.BrandContainer {
  min-width: 185px;
}

.Brand {
  align-items: center;
  display: flex;
  padding: 12px 24px;

  img {
    height: 25px;
    margin-right: 6px;
    width: 25px;
  }

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
}

.GameSub {
  margin-left: 68px;
  margin-top: -12px;
  font-size: 16px;
  font-family: 'Monoton', cursive;
}

.Nav {
  align-items: center;
  display: flex;
  width: 100%;

  .Left {
    display: flex;
    flex-basis: 50%;

    a {
      color: #ccc;

      &:hover {
        color: #fff;
      }
    }
  }

  .Right {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    padding: 0 24px;

    a {
      color: #ccc;
      font-size: 2rem;

      &:hover {
        color: #fff;
      }
    }
  }
}

.Content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.TopText {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 12px;
}

.Description {
  opacity: 0.6;
}

.NotifyContainer {
  margin-top: 42px;

  input,
  button {
    border: none;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding: 0.5em 1em;
    outline: none;
  }

  input {
    background-color: rgba(255, 255,255, 0.2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0.5em 1em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    width: 400px;
  }

  button {
    background: linear-gradient(#20c2f3, #2091f3);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(#20c9f3, #2098f3);
    }
  }
}

.Screenshot {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%);
  width: 750px;
}

.AppContainer {
  margin-top: 42px;
}

.DownloadButton,
.SecondaryButton {
  background: linear-gradient(#20c2f3, #2091f3);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 24px;
  padding: 0.5em 1em;
  outline: none;

  &:hover {
    background: linear-gradient(#20c9f3, #2098f3);
  }
}

.SecondaryButton {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(75, 75, 75, 0.1));
  border: 1px solid #ccc;

  &:hover {
    background: linear-gradient(#fff, #ddd);
    color: rgb(54, 57, 62);
  }
}

.Available {
  margin-top: 42px;

  p {
    color: #aaa;
    font-size: 12px;
  }

  span {
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }
}

.Platform {
  margin-right: 24px;
}
