@import '../../globals.scss';

.ObjWrapper {
  background-color: #f4f4f4;
  margin-top: 0;
  padding-top: 72px;
  padding-bottom: 150px;

  @include media($mobile) {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

.Img {
  box-shadow: none;
  margin: 0;

  @include media($mobile) {
    margin-bottom: 48px;
  }
}

.Text {
  @include media($mobile) {
    margin-bottom: 0;
  }
}
