@import '../../globals.scss';

.Wave {
  display: inline-block;
  margin-top: -185px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;

  @include media($small) {
    margin-top: -85px;
  }
}

.CurvedDivInv {
  flex-basis: 50%;
}

.CurvedDivBottomInv {
  flex-basis: 50%;
  margin-top: -22px;
}

.CurvedDiv,
.CurvedDivInv {
  overflow: hidden;
  position: relative;
  height: 80px;
}

.CurvedDiv::before,
.CurvedDivInv::before {
  background: #f4f4f4;
  border-radius: 100%;
  bottom: -200px;
  content: '';
  left: -200px;
  position: absolute;
  right: -212px;
  top: 0;
}

.CurvedDivInv::before {
  background: #fff;
}

.CurvedDivBottom,
.CurvedDivBottomInv {
  overflow: hidden;
  position: relative;
  height: 80px;
}

.CurvedDivBottom::before,
.CurvedDivBottomInv::before {
  background: #fff;
  border-radius: 100%;
  bottom: 0;
  content: '';
  left: -200px;
  position: absolute;
  right: -212px;
  top: -200px;
}

.CurvedDivBottomInv::before {
  background: #f4f4f4;
}

.Question {
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
  width: 35%;

  @include media($medium) {
    font-size: 1.5rem;
    width: 52%;
  }

  @include media($small) {
    width: 68%;
  }

  @include media($mobile) {
    font-size: 1.35rem;
    width: 70%;
  }
}
